<h4>Iniciar Sesión</h4>

<form id="loginForm" class="row">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Contraseña">

    <button type="submit" class="btn btn-primary mt-5">Iniciar Sesión</button>
    <hr>
</form>

    <a href="/auth/github" ><button class="btn btn-success w-100">Iniciar Sesión con GitHub</button></a>
    <hr>
    <a href="/auth/google" ><button class="btn btn-danger w-100">Iniciar Sesión con Google</button></a>
<span id="responseLogin"></span>

<script src="/js/login.js"></script>